<!-- src/app/login/login.component.html -->
<div class="login-card" data-cy="login-card">
  <h2>Login</h2>

  <div class="row">
    <input
      data-cy="username"
      [(ngModel)]="username"
      placeholder="Username"
      class="input-framed"
    />
  </div>

  <div class="row" style="margin-top:8px;">
    <input
      data-cy="password"
      [(ngModel)]="password"
      type="password"
      placeholder="Password"
      class="input-framed"
    />
  </div>

  <div class="row" style="margin-top:12px;">
    <button
      data-cy="login"
      class="btn-blue"
      (click)="login()"
      type="button"
    >
      Login
    </button>
  </div>
</div>


